@charset "utf-8";

$primary: #258ED5;

@import "~bulma/sass/utilities/_all";

$body-background-color: $grey-lightest;

$navbar-breakpoint: $tablet;
$gap: 15px;

@import '~bulma/bulma';
@import "~buefy/src/scss/buefy";